body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  color: #6C7891;
}

img {
  max-width: 100%;
}

.background-color--dark {
  background: #697784 !important;
}

.navbar {
  margin-bottom: 0;
  min-height: 60px;
}

.navbar-brand {
  color: transparent;
  padding: 0 !important;
  height: auto !important;
  margin-top: 10px;
}

a.navbar-brand {
  color: transparent !important;
}

.navbar-brand img {
  display: inline;
}

.navbar-inverse {
  background-image: linear-gradient(90deg, #31D9FF 0%, #3E8DFF 38%, #548DFF 100%);
  border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
  color: rgba(255, 255, 255, .7)
}

.navbar-toggle {
  margin-top: 22px;
}

.navbar-jumbotron .navbar {
  min-height: 80px;
}

.navbar-jumbotron .navbar-brand {
  margin-top: 10px;
}

.navbar-jumbotron .main-nav {
  // margin-top: 17px;
}

.main-nav {
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  background: url("/assets/main-nav-bg.svg") left center no-repeat;
  padding-left: 160px;
}

.jumbotron {
  // background-color: #476685;
  background-image: -webkit-linear-gradient(left, #31DAFF 0%, #538DFF 100%);
  background-image: -o-linear-gradient(left, #31DAFF 0%, #538DFF 100%);
  background-image: linear-gradient(to right, #31DAFF 0%, #538DFF 100%);
  // background-image: url("/assets/jumbotron-background-cb04e0f2d6d.png");
  text-align: center;
  font-family: Lato, sans-serif;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  margin-bottom: 0px;
  padding: 40px 0 160px;
}

.jumbotron {
  position: relative;
}

.jumbotron::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 69%;
  background-image: -webkit-linear-gradient(left, #39FAFF 0%, #49A5FF 100%);
  background-image: -o-linear-gradient(left, #39FAFF 0%, #49A5FF 100%);
  background-image: linear-gradient(to right, #39FAFF 0%, #49A5FF 100%);
}

.jumbotron h1 {
  margin-top: 30px;
  font-size: 52px;
  font-weight: 300;
  color: #fff;
}

.jumbotron .subtitle {
  font-weight: 300;
  font-size: 32px;
  color: rgba(255,255,255,0.8);
  margin-bottom: 20px;
}

.jumbotron a.btn {
  border: none;
  background-color: rgba(0,0,0,0.15);
  color: #fff;
  padding: 20px 25px 20px 25px;
  margin: 15px 10px 0 10px;
  text-transform: uppercase;
}

.jumbotron a.btn:hover {
  background-color: rgba(0,0,0,0.25);
  color: #fff;
}

.newsbar {
  background-color: #eee;
  text-align: center;
  font-family: Lato, sans-serif;
  padding: 25px 0;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 50px;
}

.feature-item {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  cursor: pointer;
  text-align: center;
}

.feature-item:hover {
  background-color: rgb(49, 122,255);
  border-radius: 3px;
}

.feature-item a {
  text-decoration: none;
  color: none;
}

.feature-item h2 {
  color: #333;
  font-weight: 300;
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}

.feature-item .fa {
  margin-right: 5px;
  color: #697784;
}

.feature-item p {
  font-size: 16px;
  line-height: 1.8em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #1A2233;
  margin-bottom: 20px;
}

.feature-item:hover h2,
.feature-item:hover p,
.feature-item:hover .fa {
  color: #fff;
}

.top-hr {
  margin-top: 30px;
}

.quote {
  margin: 25px 0 25px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
}

.quote-text {
  width: 60%;
  margin: auto;
  font-size: 22px;
  font-style: italic;
  color: #be3511;
}

.quote-source {
  font-size: 16px;
  margin-top: 15px;
  margin-left: 50px;
}

.open-source {
  margin: 25px 0 20px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
}

.open-source h1 {
  margin-top: 0;
  font-weight: 300;
}

.open-source p {
  width: 50%;
  margin: auto;
  font-size: 20px;
}

.open-source .github-stars {
  margin-top: 20px;
  width: 160px;
  height: 30px;
}

.trusted-by {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 10px;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
}

footer {
}

/* Downloads related styles. */
.download h2 {
  margin-top: 2em;
}

.download-selection {
  clear: both;
}

.download .alert {
  clear: both;
}

.download-selection .btn-group {
  padding-right: 1em;
}

.downloads .checksum {
  color: #aaa;
  font-style: italic;
}

/* Docs-related styles. */
.side-nav-col {
  z-index: 100;
}

.side-nav {
  margin-top: 20px;
  padding: 5px 20px 20px 7px;
}

.side-nav .fa {
  width: 20px;
  color: #555;
}

.side-nav a {
  color: #333;
}

.side-nav > li {
  width: 100%;
}

.side-nav .nav-header {
  display: block;
  margin: 20px auto 15px auto;
  font-size: 16px;
}

.side-nav .nav-header a, .side-nav .nav-header {
  color: #476685;
  text-transform: uppercase;
  text-decoration: none;
}

.side-nav ul.active li.active {
  border-left: 3px solid #476685;
  margin-left: -2px;
  font-weight: bold;
}

.side-nav li ul li {
  border-left: 1px solid #e9eff2;
}

.doc-content {
  // font-size: 16px;
  font-weight: 400;
}

.doc-content p, .doc-content.ul, .doc-content .alert {
  margin: 1.5rem 0 1.5rem 0;
  line-height: 1.6;
}

.doc-content > h1 {
  color: #476685;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 3rem 0 1rem 0;
}

.doc-content > h1 a {
  color: #476685;
}

.doc-content.blog > h1 {
  text-transform: none;
}

.doc-content.blog .sponsor-logos > a > img {
  width: 250px;
  display: inline-block !important;
  margin: 15px 55px;
}

.doc-content > h2 {
  color: #476685;
  font-size: 22px;
}

.doc-content > h2 code {
  color: #476685;
  background: none;
}

.doc-content > h3 {
  font-size: 20px;
  font-weight: bold;
}

.doc-content > h4 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.doc-content a.header-anchor {
  padding-left: 15px;
}

.doc-content a.header-anchor:after {
  content: "\F0C1";
  font-family: FontAwesome;
  font-weight: normal;
  font-size: .8em;
}

.doc-content a.header-anchor:link,
.doc-content a.header-anchor:visited {
  visibility: hidden;
}

.doc-content h1:hover a.header-anchor:hover,
.doc-content h2:hover a.header-anchor:hover,
.doc-content h3:hover a.header-anchor:hover,
.doc-content h4:hover a.header-anchor:hover,
.doc-content h5:hover a.header-anchor:hover,
.doc-content h6:hover a.header-anchor:hover {
  color: #000;
}

.doc-content h1:hover a.header-anchor,
.doc-content h2:hover a.header-anchor,
.doc-content h3:hover a.header-anchor,
.doc-content h4:hover a.header-anchor,
.doc-content h5:hover a.header-anchor,
.doc-content h6:hover a.header-anchor {
  color: #999;
  visibility: visible;
}

.doc-content img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.doc-content img.orig-size {
  width: auto;
  margin-left: 0;
}

.toc {
  padding: 1em;
  background-color: #f5f5f5;
}

.toc-right {
  float: right;
  width: 40%;
  margin: 0 0 0.5em 0.5em;
}

.toc ul {
  padding: 0 0 0 1.5em;
  margin: 0;
}

.toc a code {
  color: #337ab7;
  background-color: transparent;
}

pre {
  border: 1px solid #ddd;
  border-left: 4px solid #476685;
  border-radius: 0;
  font-family: "Courier New", Monaco, Menlo, Consolas, monospace;
  background-color: #f5f5f5;
  color: #333;
  padding: 15px;
}

pre code {
  white-space: pre;
}

code {
  color: #333;
}

aside {
  color: #888;
  padding-bottom: 8px;
  border-bottom: 1px solid #aaa;
}

article {
  margin: 10px 0 60px 0;
}

@media (min-width: 768px) {
  .navbar-nav {
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar-nav > li > a {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .navbar-nav > li > a.icon-2x  {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
  }
}

.container-card {
  margin-top: -120px;
  background: #FFFFFF;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.10);
  position: relative;
  z-index: 999;
  padding: 30px 40px;
}

.logos {
  display: inline-block !important;
  margin: 20px;
  height: 72px;
}

.logos a {
  display: block;
}

.logos img {
  max-width: 100%;
}

.doc-content {
  padding-top: 3em;
}

.doc-content p > code {
  display: block;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ddd;
  border-left: 4px solid #476685;
  border-radius: 0;
  background-color: #f5f5f5;
  color: #333;
  padding: 15px;
  white-space: pre;
}
